@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@font-face {
  font-family: "SFUI";
  src: url("/fonts/SFUIText-Bold.ttf");
}
$colors: (
  dark-blue: #172830,
  light-blue: #53657c,
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav,
footer {
  //nav and footer styled identical, used same styling for both
  padding-left: 2rem;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: map-get($map: $colors, $key: dark-blue);
}

#logo {
  height: 100%;
}

#icon {
  height: 30%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  // height: 70vh;
  background: {
    position: bottom left;
    size: contain;
    repeat: no-repeat;
    color: map-get($map: $colors, $key: dark-blue);
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
  }
  .hero-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: "SFUI", sans-serif;
      color: white;
      text-align: left;
      font-size: 2.5rem;
    }
    #explore {
      display: inline-block;
      width: 100%;
      font-family: "Old Standard TT", serif;
      // font-weight: bold;
      font-size: 1.6rem;
      text-align: center;
      border: 1.5rem solid map-get($map: $colors, $key: light-blue);
      background: map-get($map: $colors, $key: light-blue);
      border-radius: 32px;
    }
  }
}

a {
  text-decoration: none;
  color: white;
  font-family: "SFUI", sans-serif;
}

.tea-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.tea-title {
  grid-column-start: 1;
  grid-column-end: span 2;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: 2rem;
}

main {
  margin: auto 3rem;
  h2 {
    font-family: "Old Standard TT", serif;
    // margin-left: 3rem;
    font-size: 2rem;
  }
  .summer-home {
    display: inline-block;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    div {
      font-family: "SFUI", sans-serif;
      font-size: 2.3rem;
      position: absolute;
      bottom: 8%;
      left: 10%;
    }
  }
  p {
    font-family: "SFUI", sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }
}
